/* Sidebar.module.css */

/* 사이드바 스타일 */
.sidebar {
  position: fixed;
  top: 4rem;
  left: 0;
  height: 100%;
  background-color: #f3f4f6; /* bg-gray-100 */
  border-right: 4px solid #d1d5db;
  border-left: 4px solid #d1d5db;
  width: 13%;
  transition: transform 0.3s ease-in-out;
  z-index: 30;
}

.sidebarOpen {
  transform: translateX(120%); /* 열렸을 때 */
}
.sidebarClosed {
  transform: translateX(70%); /* 닫혔을 때 */
}

/* 메인 화면 스타일 */
.mainContent {
  min-height: 80vh;
  background-color: #f3f4f6; /* bg-gray-100 */
  transition: all 0.3s ease-in-out;
  width: 92%;
  margin-left: 8%;
  z-index: 20;
}

.mainContentOpen {
  width: 82%;
  margin-left: 18%;
}
